@import "_animation";

:root {
    --top-bar-height: 5rem;
    --top-bar-height-minus: -5rem;
    --p-color-glass: rgba(255, 255, 255, .4);
    --p-color-background: #EEEEEE;
}

.my-app-dark {
    --p-color-background: #222831;
}

/* Simple CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    line-height: 1.15;
    /* Improve readability */
    -webkit-text-size-adjust: 100%;
    font-size: 16px;
    /* Default font size */
    overflow: hidden auto;
    /* Prevent font scaling in iOS */
}

body {
    font-family: sans-serif;
    /* Set a default font */
    overflow: hidden auto;
    font-size: 16px;
    /* Set a default font size */
    background: var(--p-color-background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    /* Normalize heading font weights */
}

ul,
ol {
    list-style: none;
    /* Remove default list styles */
}

img {
    max-width: 100%;
    /* Responsive images */
    height: auto;
    /* Maintain aspect ratio */
}

* {
    font-family: "Montserrat", sans-serif;
}

.font-light {
    font-family: "Montserrat", sans-serif !important;
    font-weight: 300 !important;
}

.font-regular {
    font-family: "Montserrat", sans-serif !important;
    font-weight: 400 !important;
}

.font-semibold {
    font-family: "Montserrat", sans-serif !important;
    font-weight: 500 !important;
}

.font-bold {
    font-family: "Montserrat", sans-serif !important;
    font-weight: 700 !important;
}



.ltr {
    direction: ltr;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 3rem;
}

.show-desktop {
    display: none !important;
}

/* Show on tablet and mobile, hide on desktop */
.hide-desktop {
    display: block;
}

.text-center {
    text-align: center;
}

@media (min-width: 1025px) {
    .hide-desktop {
        display: none !important;
    }
}

.flex-column {
    flex-direction: column !important;
}

@media (min-width: 1025px) {
    .show-desktop {
        display: block !important;
    }
}

.app-icon {
    fill: var(--p-text-color)
}

.p-overlay-mask {
    direction: ltr;
}

@supports(padding: max(0px)) {
    #app {}
}

#app {}

/* Headings */
h1 {
    font-size: 3rem;
    line-height: 1.2;
}

h2 {
    font-size: 2.5rem;
    line-height: 1.25;
}

h3 {
    font-size: 2rem;
    line-height: 1.3;
}

/* Paragraphs */
p {
    font-size: 1rem;
    line-height: 1.6;
}

/* Media Queries for Responsive Typography */
@media (max-width: 1024px) {
    h1 {
        font-size: 2.5rem;
        line-height: 1.3;
    }

    p {
        font-size: 0.9rem;
        line-height: 1.7;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
        line-height: 1.4;
    }

    p {
        font-size: 0.8rem;
        line-height: 1.8;
    }
}
