@import "_animation";

/* Simple CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    line-height: 1.15;
    /* Improve readability */
    -webkit-text-size-adjust: 100%;
    /* Prevent font scaling in iOS */
}

body {
    font-family: sans-serif;
    /* Set a default font */
    font-size: 16px;
    /* Set a default font size */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    /* Normalize heading font weights */
}

ul,
ol {
    list-style: none;
    /* Remove default list styles */
}

img {
    max-width: 100%;
    /* Responsive images */
    height: auto;
    /* Maintain aspect ratio */
}

* {
    font-family: "Montserrat", sans-serif;
}

.font-light {
    font-family: "Montserrat", sans-serif !important;
    font-weight: 300 !important;
}

.font-regular {
    font-family: "Montserrat", sans-serif !important;
    font-weight: 400 !important;
}

.font-semibold {
    font-family: "Montserrat", sans-serif !important;
    font-weight: 500 !important;
}

.font-bold {
    font-family: "Montserrat", sans-serif !important;
    font-weight: 700 !important;
}

body {
    background-color: var(--background-color);
}

.ltr {
    direction: ltr;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 3rem;
}

.show-desktop {
    display: none !important;
}

/* Show on tablet and mobile, hide on desktop */
.hide-desktop {
    display: block;
}

.text-center {
    text-align: center;
}

@media (min-width: 1025px) {
    .hide-desktop {
        display: none !important;
    }
}

.flex-column {
    flex-direction: column !important;
}

@media (min-width: 1025px) {
    .show-desktop {
        display: block !important;
    }
}

.app-icon {
    fill: var(--p-text-color);
    stroke: var(--p-text-color);
}
.app-icon svg g{
    stroke: var(--p-text-color);
}
.app-icon svg path{
    stroke: var(--p-text-color);
    fill: var(--p-text-color);
}
.app-icon svg rect{
    stroke: var(--p-text-color);
    fill: var(--p-text-color);
}

.p-overlay-mask {
    direction: ltr;
}
